*{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.container{
    height:300px;
    min-width:500px;
    margin: 20px 20px;
    border:solid black 5px;
    justify-content: center;
}

.title{
    
    text-align: center;
    height:50px;
    min-width:400px;
    margin: 20px 20px;
    border:solid black 5px;

}

.snippet{
    position: absolute;
    height:200px;
    min-width: 20%;
    margin-bottom:  20px;
    border:solid blue 5px;
}

header, footer{
    text-align: center;
    font-weight: bold;
}
header h1{
    font-size:500%;
}
header h6{
    font-size: 150%;
    margin: 0 175px 50px 175px;
}

header{
    font-weight: bold;
}